:root {
  --primaryColor: #ff274b;
  --secondaryColor: #f7bcf7;
  --lightColor: #fff;
  --bgColor-1: #171a1c;
  --bgColor-2: #22282a;
  --padding: 8%;
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
html {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  color: var(--lightColor);
}


.home {
 
  width: 100%;
 
  background-color: var(--bgColor-1);

}
span {
  color: var(--primaryColor);
  
}
h1 {
  
  font-size: 2rem;
  letter-spacing: 0.12rem;
  cursor: pointer;
}
nav {
  padding: 2.8rem var(--padding) 0 var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  margin: 0.8rem 1.5rem;
}
nav ul li:hover {
  transform: scale(1.2);
}
nav ul li a {
  color: var(--lightColor);
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.4s;
}
nav ul li a:hover {
  color: var(--primaryColor);
}

.btn {
  background-color: var(--primaryColor);
  color: var(--lightColor);
  border-radius: 30px;
  text-decoration: none;
  padding: 0.81rem 1.87rem;
  font-weight: bold;
  transition: 0.4s;
  border: 2px solid transparent;
}
.btn:hover {
  background: transparent;
  border: 2px solid var(--primaryColor);
}
.content {
  display: flex;
  align-items: center;
  padding: 0 var(--padding);
  
  justify-content: space-between;
}
.container-texts {
  position: relative;
  width: 50%;

}
.container-texts h1 {
  font-size: 4.65rem;
  margin: 1.7rem 0;
}
.container-texts h3 {
  font-size: 1.5rem;
  margin-bottom: 3.5rem;
}
.container-texts h4 {
  color: var(--secondaryColor);
  font-size: 1.25rem;
  letter-spacing: 0.12rem;
}
.sociel {
  margin-top: 3.5rem;
}
.sociel img {
  margin-right: 2rem;
  width: 2.5rem;
  transition: 0.4s;
}
.sociel img:hover {
  transform: scale(1.2);
}
.home .container-image {
  width: 45%;
  height: 70vh;
  position: relative;
  align-self: flex-end;
  bottom: 0;
}
.home .container-image img {
  position: absolute;
  top: 50;
  height: 100%;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  transition: bottom 1s, left 1s;
}
.container-image .shape {
  bottom: 80px;
  right: 100px;
}
.container-image:hover .shape {
  bottom: 0;
  right: 100px;
}
.container-image:hover .pic {
  left: 45%;
}
.about {
  
  padding-top: 10rem;
  background-color: var(--bgColor-2);
  padding: 3rem var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about .container-image {
  width: 40%;
  
}
.container-image img {
  width: 90%;
}
.container-texts{
    width: 50%;
    margin-top: 1rem;
   
   
   
  
}
p{
    color: var(--secondaryColor);
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.8rem;
}
h5{
    font-size: 1.35rem;
    margin-bottom: 1.5rem;
    letter-spacing: 2px ;
}
.services{
    background: var(--bgColor-1);
    padding: 2rem var(--padding);
}
.services h1 {
    font-size: 4.65rem;
    margin: 1.7rem 0;

}
.center{
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    width: 300px;
    background-color: var(--bgColor-2);
   
    border-radius: 20px;
    padding: 1.3rem 2rem;
    margin: 0 0.5rem;
    text-align: center;
    transition: 0.4s;
}
.card:hover {
    transform: scale(1.1);
    opacity: 0.8;
   
}
.card i {
    font-size: 3rem ;
    text-align: center;
    color: var(--secondaryColor);
    margin: 2rem;
}
.content-skills{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 4rem;
}
.skill {
  width: 100px;
  height: 100px;
  background:  var(--secondaryColor);
  border-radius: 50%;
  margin: 0 2rem 2rem 0 ;
  display: flex;
  justify-content: center;
  align-items: center;

}
.skill img{
  width: 70%;
}
footer{
  background: var(--bgColor-1);
  padding: 2rem var(--padding);
  text-align: center;
}
/**********************************************/
 @media screen and (max-width:575px ){
  :root{
    --padding: 1.5rem;
  }
  html{
    font-size: 10px;
  }
  .skill{
    width: 50px;
    height: 50px;
  }
  .home .container-image{
    display: none;
  }
  .home  {
  
  }
  nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 82px;
    padding-left: 0;
    background-color: var(--bgColor-1);
    border-bottom: 1px solid var(--bgColor-2);
   justify-content: space-around;
    text-align: center; 
    z-index: 100;
   
  }
  .content{
    display: flex;
    position: static;
    margin-top: 80px;
    padding-top: 5rem;
    
  }
.content h1 {
  width: 75%;
}
  
   .container-texts{
    bottom: 0;
    width: 100%;
   
  }
  .sociel{
    margin-top: 70px;
  }
  h3{
    margin-top: 70px;
  }

  nav ul{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0; 
    left: 0;
    background: var(--bgColor-2);
   
  }
  nav ul li {
    text-align: center;
    display: block;
    font-size: 3rem;
    margin-top: 5rem;
  }
 nav > a{
    display: none;
  }
 nav #menu
  {
    display: block;
  }
  .about{
    flex-direction: column;
    padding:1rem;
  }
  .box{
    flex-direction: column;
    gap: 2rem;
  }
 
  .home .youyou{
    display: block;
    align-self: flex-start;
  }
 }
 

 /*******************/
 #menu
 {
  display: none;
  position: relative;
  cursor: pointer;
 }
 #menu span{
  position: relative;
  width: 33px;
  height: 4px;
  background: var(--lightColor);
  border-radius: 6px;
  margin-bottom: 5px;
  display: block;
  transition: 0.5s ease-in-out;
  
 }
 nav ul.is-active{
  display:block;
 }
 .is-active span:nth-child(2){
  opacity: 0;
  transform: translateX(15px);

 }
  .is-active span:last-child{
  transform: rotate(45deg) translate(-3px , -3px);
 }
 .is-active span:first-child{
  transform: rotate(-45deg) translate(-9px , 10px);
 }
 #menu.is-active span{
  background-color: var(--primaryColor);
 }
 /**********************youyou*/
 .youyou{
  display: none;
  width: 200px;
  height: 200px;
  
  border-radius: 50%;
  

 }
 .youyou img {
  width: 100%;
/*   border: 1px solid var(--primaryColor);
 */  border-radius: 50%;

 }